/*
  Don't use rems because it might not look consistant across all sites
  e.g. If the site sets root font to 10px, so it uses rems like pixels,
  making UI look smaller in comparison to the rest of the site.
*/

/***** Reset *****/

#histre-ask-ai-wrap.histre-ask-ai-wrap,
#histre-ask-ai-wrap * {
  font-family: inherit;
  box-sizing: border-box;
  position: initial;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  line-height: normal;
  width: initial;
  min-width: initial;
  max-width: initial;
  height: initial;
  min-height: initial;
  max-height: initial;
  color: inherit;
  font-size: inherit;
  box-shadow: none;
}

#histre-ask-ai-wrap div {
  display: block;
}

#histre-ask-ai-wrap span {
  display: inline-block;
}

#histre-ask-ai-wrap a {
  text-decoration: none;
  font-weight: unset;
  color: #2c7be5;
  cursor: pointer;
}

#histre-ask-ai-wrap a:hover {
  text-decoration: none;
  color: #1657af;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-group::before,
#histre-ask-ai-wrap .histre-ask-ai-btn-group::after,
#histre-ask-ai-wrap .histre-ask-ai-btn-group *::before,
#histre-ask-ai-wrap .histre-ask-ai-btn-group *::after {
  display: none;
}

/***** Buttons *****/

#histre-ask-ai-wrap .histre-ask-ai-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #12263f;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-outline-primary {
  border-color: #2c7be5;
  color: #2c7be5;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-outline-primary:hover,
#histre-ask-ai-wrap .histre-ask-ai-btn-outline-primary.histre-ask-ai-active {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-outline-secondary {
  border-color: #d2ddec;
  color: #6e84a3;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-outline-secondary:hover,
#histre-ask-ai-wrap .histre-ask-ai-btn-outline-secondary.histre-ask-ai-active {
  background-color: #6e84a3;
  border-color: #6e84a3;
  color: #fff;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-primary {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-primary:hover,
#histre-ask-ai-wrap .histre-ask-ai-btn-primary.histre-ask-ai-active {
  background-color: #2569c3;
  border-color: #2362b7;
  color: #fff;
}

#histre-ask-ai-wrap .histre-ask-ai-btn:disabled {
  opacity: 0.65;
  pointer-events: none;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-link {
  color: #2c7be5;
}

.histre-ask-ai-btn-link:hover {
  color: #1657af;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-link--no-padding {
  padding: 0;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-sm {
  border-radius: 4px;
  font-size: 13px;
  padding: 2px 8px;
  line-height: 1.75;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-group {
  display: inline-flex;
  position: relative;
  height: 100%;
  vertical-align: middle;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-group > .histre-ask-ai-btn {
  flex: 1 1 auto;
  position: relative;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-group > .histre-ask-ai-btn:not(:first-child) {
  margin-left: -1px;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-group > .histre-ask-ai-btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-group > .histre-ask-ai-btn:nth-child(n + 3),
#histre-ask-ai-wrap .histre-ask-ai-btn-group > :not(.histre-ask-ai-btn-check) + .histre-ask-ai-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#histre-ask-ai-wrap
  .histre-ask-ai-btn-group
  > .histre-ask-ai-btn-check:checked
  + .histre-ask-ai-btn,
#histre-ask-ai-wrap .histre-ask-ai-btn-group > .histre-ask-ai-btn:hover {
  z-index: 1;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-check {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  position: absolute;
}

#histre-ask-ai-wrap .histre-ask-ai-btn-check:checked + .histre-ask-ai-btn-outline-secondary {
  background-color: #6e84a3;
  border-color: #6e84a3;
  color: #fff;
}

/***** Form control *****/

#histre-ask-ai-wrap .histre-ask-ai-form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #d2ddec;
  border-radius: 6px;
  color: #12263f;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

#histre-ask-ai-wrap .histre-ask-ai-form-control::placeholder {
  color: #b1c2d9;
  opacity: 1;
}

#histre-ask-ai-wrap .histre-ask-ai-form-control:focus {
  background-color: #fff;
  border-color: #2c7be5;
  box-shadow: none;
  color: #12263f;
  outline: 0;
}

#histre-ask-ai-wrap .histre-ask-ai-form-control-sm {
  border-radius: 4px;
  font-size: 13px;
  min-height: 30px;
  padding: 2px 8px;
  line-height: 1.75;
}

/***** Dropdown *****/

#histre-ask-ai-wrap .histre-ask-ai-dropdown-wrap {
  position: relative;
}

#histre-ask-ai-wrap .histre-ask-ai-dropdown-toggle-btn * {
  cursor: pointer;
}

#histre-ask-ai-wrap
  .histre-ask-ai-dropdown-toggle-btn
  > .histre-ask-ai-dropdown-toggle-text
  + .histre-ask-ai-dropdown-toggle-icon {
  margin-left: 7px;
}

#histre-ask-ai-wrap .histre-ask-ai-dropdown-toggle-icon {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 13px;
  background-color: currentColor;
}

#histre-ask-ai-wrap .histre-ask-ai-dropdown-toggle-icon--up {
  mask: url(assets/ask-ai/chevron-up.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/ask-ai/chevron-up.svg) no-repeat 50% 50%;
}

#histre-ask-ai-wrap .histre-ask-ai-dropdown-list {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #e3ebf6;
  border-radius: 4px;
  color: #12263f;
  display: none;
  font-size: 14px;
  list-style: none;
  margin: 0;
  min-width: 130px;
  padding: 8px 0;
  position: absolute;
  text-align: left;
  z-index: 1000;
}

#histre-ask-ai-wrap .histre-ask-ai-dropdown-list-item {
  background-color: transparent;
  border: 0;
  clear: both;
  color: #6e84a3;
  display: block;
  font-weight: 400;
  padding: 6px 20px;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}

#histre-ask-ai-wrap .histre-ask-ai-dropdown-list-item:hover {
  background-color: transparent;
  color: #12263f;
}

/***** Scrollbar *****/

@supports (scrollbar-width: none) {
  /* Firefox */
  #histre-ask-ai-wrap.histre-ask-ai-wrap {
    scrollbar-width: none;
  }
}
@supports not (scrollbar-width: none) {
  /* Chrome */
  #histre-ask-ai-wrap.histre-ask-ai-wrap::-webkit-scrollbar {
    display: none;
  }
}

/***** Container *****/

#histre-ask-ai-wrap.histre-ask-ai-wrap {
  --histre-ask-ai-width: 400px;

  position: fixed;
  display: flex !important;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100vh;
  width: var(--histre-ask-ai-width);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  border-left: 1px solid #d2ddec;
  color: #12263f;
  font-size: 16px;
  font-family: 'Cerebri Sans', sans-serif;
  z-index: 1000000;
  overflow-y: auto;
}

/***** Header *****/

#histre-ask-ai-wrap .histre-ask-ai-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  padding: 14px 20px;
  margin: 26px 12px 15px;
}

#histre-ask-ai-wrap .histre-ask-ai-control-btns-wrap {
  display: flex;
  align-items: center;
}

#histre-ask-ai-wrap .histre-ask-ai-control-icon {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

#histre-ask-ai-wrap .histre-ask-ai-control-icon:hover {
  background-color: #283e59;
}

#histre-ask-ai-wrap .histre-ask-ai-control-icon--close {
  mask: url(assets/ask-ai/close.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/close.svg) no-repeat 50% 50% !important;
}

#histre-ask-ai-wrap .histre-ask-ai-logo {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 1.1;
  color: #6e84a3;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

#histre-ask-ai-wrap .histre-ask-ai-logo:hover {
  color: #283e59;
}

#histre-ask-ai-wrap .histre-ask-ai-logo img {
  position: relative;
  bottom: 1px;
  width: 27px;
}

/***** Body *****/

#histre-ask-ai-wrap .histre-ask-ai-body {
  background-color: #fff;
  border-radius: 6px;
  padding: 18px 20px;
  margin: 0 12px 15px;
  position: relative;
}

/***** Ask AI *****/

#histre-ask-ai-wrap .histre-ask-ai-container {
  padding-top: 2px;
  padding-bottom: 2px;
  color: #95aac9;
  position: relative;
}

#histre-ask-ai-wrap .histre-ask-ai-prompt-list {
  flex-direction: column-reverse;
  max-width: 290px;
}

#histre-ask-ai-wrap .histre-ask-ai-prompt-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

#histre-ask-ai-wrap .histre-ask-ai-prompt-list-item[data-histre-is-removed] {
  cursor: default;
  text-decoration: line-through;
  font-style: italic;
}

#histre-ask-ai-wrap .histre-ask-ai-prompt-list-item[data-histre-is-removed]:hover {
  color: #6e84a3;
}

#histre-ask-ai-wrap .histre-ask-ai-delete-prompt-btn {
  flex-shrink: 0;
  cursor: pointer;
  color: #95aac9;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: currentColor;
  mask: url(assets/ask-ai/trash.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/trash.svg) no-repeat 50% 50% !important;
}

#histre-ask-ai-wrap .histre-ask-ai-delete-prompt-btn:hover {
  color: #e63757;
}

#histre-ask-ai-wrap
  .histre-ask-ai-prompt-list-item[data-histre-is-removed]
  .histre-ask-ai-delete-prompt-btn {
  visibility: hidden;
}

#histre-ask-ai-wrap .histre-ask-ai-controls {
  display: flex;
  margin-top: 15px;
}

#histre-ask-ai-wrap .histre-ask-ai-controls > :first-child {
  margin-right: auto;
}

#histre-ask-ai-wrap .histre-ask-ai-controls > :last-child {
  margin-left: 9px;
}

#histre-ask-ai-wrap .histre-ask-ai-prompt-delete-error-msg {
  display: none;
  margin-top: 20px;
  color: #e63757;
}

#histre-ask-ai-wrap .histre-ask-ai-result {
  border: 1px solid #d2ddec;
  padding: 10px 17px;
  border-radius: 8px;
  color: #283e59;
  margin-top: 24px;
}

#histre-ask-ai-wrap .histre-ask-ai-result * {
  font-size: 15px;
  line-height: 1.5;
}

#histre-ask-ai-wrap .histre-ask-ai-result-controls {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  gap: 12px;
  position: relative;
}

#histre-ask-ai-wrap .histre-ask-ai-spinner {
  position: absolute;
  left: 0;
  top: 5px;
  animation: histre-ask-ai-spinner-border 0.75s linear infinite;
  border: 0.2em solid;
  border-radius: 50%;
  border-right: 0.25em solid transparent;
  display: inline-block;
  height: 16px;
  vertical-align: -0.125em;
  width: 16px;
  color: #6e84a3;
}

@keyframes histre-ask-ai-spinner-border {
  to {
    transform: rotate(360deg);
  }
}

#histre-ask-ai-wrap .histre-ask-ai-status {
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

#histre-ask-ai-wrap .histre-ask-ai-status--checkmark {
  mask: url(assets/ask-ai/checkmark.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/checkmark.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
}

#histre-ask-ai-wrap .histre-ask-ai-status--alert {
  mask: url(assets/ask-ai/alert.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/alert.svg) no-repeat 50% 50% !important;
  background-color: #e63757;
}

#histre-ask-ai-wrap .histre-ask-ai-copy-result-btn {
  width: 28px;
  cursor: pointer;
  color: #95aac9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#histre-ask-ai-wrap .histre-ask-ai-copy-result-btn:hover {
  color: #3b506c;
}

#histre-ask-ai-wrap .histre-ask-ai-copy-result-icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: currentColor;
  mask: url(assets/ask-ai/clipboard.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/clipboard.svg) no-repeat 50% 50% !important;
  position: relative;
  bottom: 1px;
}

#histre-ask-ai-wrap .histre-ask-ai-copy-result-icon--check {
  mask: url(assets/ask-ai/copy-check.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/copy-check.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
}

#histre-ask-ai-wrap .histre-ask-ai-error-msg {
  margin-top: 11px;
  color: #e63757;
}

/***** Helper *****/

#histre-ask-ai-wrap.histre-ask-ai-d-none,
#histre-ask-ai-wrap .histre-ask-ai-d-none,
#histre-ask-ai-wrap .histre-ask-ai-hide {
  display: none !important;
}

#histre-ask-ai-wrap .histre-ask-ai-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media print {
  #histre-ask-ai-wrap {
    display: none !important;
  }
}
