#histre-chat-gpt-import-wrap,
#histre-chat-gpt-import-wrap * {
  font-family: 'Cerebri Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: #12263f;
}

#histre-chat-gpt-import-wrap {
  display: flex;
  margin-right: 8px;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-import-btn {
  margin-left: 6px;
  transition: color 0.15s ease-in-out;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-import-btn:hover {
  color: #2c7be5;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-import-btn:disabled {
  pointer-events: none;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-logo {
  width: 17px;
  cursor: pointer;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-status-wrap {
  --histre-chat-gpt-import-status-size: 13px;
  --histre-chat-gpt-import-status-left: -21px;
  --histre-chat-gpt-import-status-top: 7px;
  position: relative;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-spinner {
  display: none;
  position: absolute;
  left: var(--histre-chat-gpt-import-status-left);
  top: var(--histre-chat-gpt-import-status-top);
  animation: histre-chat-gpt-import-spinner-border 0.75s linear infinite;
  border: 0.2em solid;
  border-radius: 50%;
  border-right: 0.25em solid transparent;
  height: var(--histre-chat-gpt-import-status-size);
  width: var(--histre-chat-gpt-import-status-size);
  font-size: var(--histre-chat-gpt-import-status-size);
  vertical-align: -0.125em;
  color: #6e84a3;
}

@keyframes histre-chat-gpt-import-spinner-border {
  to {
    transform: rotate(360deg);
  }
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-status {
  position: absolute;
  left: var(--histre-chat-gpt-import-status-left);
  top: var(--histre-chat-gpt-import-status-top);
  vertical-align: middle;
  width: var(--histre-chat-gpt-import-status-size);
  height: var(--histre-chat-gpt-import-status-size);
  background-color: currentColor;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-status--checkmark {
  mask: url(assets/chat-gpt-import/checkmark.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/chat-gpt-import/checkmark.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-status--alert {
  mask: url(assets/chat-gpt-import/alert.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/chat-gpt-import/alert.svg) no-repeat 50% 50% !important;
  background-color: #e63757;
}

/***** Buttons *****/

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #12263f;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  border-radius: 4px;
  font-size: 13px;
  padding: 2px 8px;
  line-height: 1.75;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-btn-outline-primary {
  border-color: #2c7be5;
  color: #2c7be5;
}

#histre-chat-gpt-import-wrap .histre-chat-gpt-import-btn-outline-primary:hover,
#histre-chat-gpt-import-wrap
  .histre-chat-gpt-import-btn-outline-primary.histre-chat-gpt-import-active {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
}
