/*
  Don't use rems because it might not look consistant across all sites
  e.g. If the site sets root font to 10px, so it uses rems like pixels,
  making UI look smaller in comparison to the rest of the site.
*/

/***** Reset *****/

#histre-cmd-wrap.histre-cmd-wrap,
#histre-cmd-wrap * {
  font-family: inherit;
  box-sizing: border-box;
  position: initial;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  line-height: normal;
  width: initial;
  min-width: initial;
  max-width: initial;
  height: initial;
  min-height: initial;
  max-height: initial;
  color: inherit;
  font-size: inherit;
  box-shadow: none;
}

#histre-cmd-wrap div {
  display: block;
}

#histre-cmd-wrap span {
  display: inline-block;
}

/***** Container *****/

#histre-cmd-wrap.histre-cmd-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000;
  background-color: rgba(18, 38, 63, 0.8);
}

#histre-cmd-wrap.histre-cmd-wrap.histre-cmd-active {
  display: block !important;
}

#histre-cmd-wrap .histre-cmd-content {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Cerebri Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #12263f;
  padding: 18px;
  border: 1px solid #e3ebf6;
  max-width: 412px;
  width: 100%;
  border-radius: 10px;
}

/***** Header *****/

#histre-cmd-wrap .histre-cmd-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 16px;
}

#histre-cmd-wrap .histre-cmd-logo {
  font-weight: bold;
  font-size: 21px;
  letter-spacing: -0.02em;
  line-height: 1.1;
  color: #6e84a3;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

#histre-cmd-wrap .histre-cmd-logo:hover {
  color: #283e59;
}

#histre-cmd-wrap .histre-cmd-logo img {
  position: relative;
  bottom: 1px;
  width: 25px;
}

#histre-cmd-wrap .histre-cmd-settings {
  mask: url(assets/inline/settings.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/settings.svg) no-repeat 50% 50%;
  background-color: #95aac9;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#histre-cmd-wrap .histre-cmd-settings:hover {
  background-color: #546a87;
}

/***** Input *****/

#histre-cmd-wrap .histre-cmd-search-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #d2ddec;
  border-radius: 6px;
  color: #12263f;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  margin-bottom: 12px;
}

#histre-cmd-wrap .histre-cmd-search-input::placeholder {
  color: #b1c2d9;
  opacity: 1;
}

#histre-cmd-wrap .histre-cmd-search-input:focus {
  background-color: #fff;
  border-color: #2c7be5;
  box-shadow: none;
  color: #12263f;
  outline: 0;
}

/***** Commands *****/

#histre-cmd-wrap .histre-cmd-command {
  padding: 12px 18px;
  cursor: pointer;
  border-left: 2px solid transparent;
}

#histre-cmd-wrap .histre-cmd-selected {
  background-color: #edf2f9;
  border-color: #2c7be5;
}
