/*
  Don't use rems because it might not look consistent across all sites
  e.g. If the site sets root font to 10px, so it uses rems like pixels,
  making UI look smaller in comparison to the rest of the site.
*/

/* paster colors : https://www.color-hex.com/color-palette/5361 */

:root {
  --histre-color-yellow: #ffffba;
  --histre-color-orange: #ffdfba;
  --histre-color-green: #baffc9;
  --histre-color-blue: #bae1ff;
  --histre-color-red: #ffb3ba;
  --histre-color-purple: #e6cfff;

  --histre-color-yellow-dark: #e0e052;
  --histre-color-orange-dark: #fdc789;
  --histre-color-green-dark: #81fd9c;
  --histre-color-blue-dark: #7ec4fa;
  --histre-color-red-dark: #fc7d89;
  --histre-color-purple-dark: #bb82f8;
}

/***** Reset *****/

#histre-highlight-wrap.histre-highlight-wrap,
#histre-highlight-wrap * {
  font-family: inherit;
  box-sizing: border-box;
  position: initial;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  line-height: normal;
  width: initial;
  min-width: initial;
  max-width: initial;
  height: initial;
  min-height: initial;
  max-height: initial;
  color: inherit;
  font-size: inherit;
  box-shadow: none;
}

#histre-highlight-wrap div {
  display: block;
}

#histre-highlight-wrap span {
  display: inline-block;
}

/***** Container *****/

/* Set to block only when styles are loaded on page */
#histre-highlight-wrap {
  display: block !important;
}

#histre-highlight-wrap .histre-highlight-menu {
  position: absolute;
  display: none;
  z-index: 10000;
  background-color: white;
  font-size: 12px;
  padding: 8px 8px 4px 8px;
  border: 1px solid #d2ddec;
  border-radius: 8px;
  height: 32px;
}

#histre-highlight-wrap .histre-highlight-menu.histre-highlight-menu--active {
  display: block;
}

#histre-highlight-wrap .histre-highlight-arrow-wrap {
  position: absolute;
  bottom: -10px;
  left: 50%;
  clip: rect(10px 20px 20px 0);
  margin-left: -10px;
}

#histre-highlight-wrap.histre-highlight-wrap--bottom .histre-highlight-arrow-wrap {
  top: -10px;
  clip: rect(0px 20px 10px 0px);
}

#histre-highlight-wrap .histre-highlight-arrow {
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #d2ddec;
  transform: rotate(45deg) scale(0.5);
}

/***** Buttons *****/

#histre-highlight-wrap .histre-highlight-btn,
#histre-highlight-wrap .histre-highlight-icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  border-radius: 0;
}

#histre-highlight-wrap .histre-highlight-icon {
  background-color: #6e84a3;
}

#histre-highlight-wrap .histre-highlight-icon:hover {
  background-color: #3b506c;
}

#histre-highlight-wrap .histre-highlight-btn--yellow {
  background-color: var(--histre-color-yellow);
  border: 1px solid var(--histre-color-yellow-dark);
}

#histre-highlight-wrap .histre-highlight-btn--orange {
  background-color: var(--histre-color-orange);
  border: 1px solid var(--histre-color-orange-dark);
}

#histre-highlight-wrap .histre-highlight-btn--green {
  background-color: var(--histre-color-green);
  border: 1px solid var(--histre-color-green-dark);
}

#histre-highlight-wrap .histre-highlight-btn--blue {
  background-color: var(--histre-color-blue);
  border: 1px solid var(--histre-color-blue-dark);
}

#histre-highlight-wrap .histre-highlight-btn--red {
  background-color: var(--histre-color-red);
  border: 1px solid var(--histre-color-red-dark);
}

#histre-highlight-wrap .histre-highlight-btn--purple {
  background-color: var(--histre-color-purple);
  border: 1px solid var(--histre-color-purple-dark);
}

#histre-highlight-wrap .histre-highlight-icon--note {
  mask: url(assets/highlight/note.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/highlight/note.svg) no-repeat 50% 50%;
  position: relative;
  left: 1px;
}

#histre-highlight-wrap .histre-highlight-icon--copy,
#histre-highlight-wrap .histre-highlight-icon--check {
  position: relative;
  left: 1px;
}

#histre-highlight-wrap .histre-highlight-icon--copy {
  mask: url(assets/highlight/copy.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/highlight/copy.svg) no-repeat 50% 50%;
}

#histre-highlight-wrap .histre-highlight-icon--check,
#histre-highlight-wrap .histre-highlight-icon--check:hover {
  background-color: #27aa78;
}

#histre-highlight-wrap .histre-highlight-icon--check {
  mask: url(assets/highlight/check.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/highlight/check.svg) no-repeat 50% 50%;
}

#histre-highlight-wrap .histre-highlight-icon--delete {
  mask: url(assets/highlight/delete.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/highlight/delete.svg) no-repeat 50% 50%;
}

#histre-highlight-wrap .histre-highlight-icon--info {
  mask: url(assets/highlight/info.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/highlight/info.svg) no-repeat 50% 50%;
}

/***** Note *****/

#histre-highlight-wrap .histre-highlight-note-input,
#histre-highlight-wrap .histre-highlight-note-input:focus,
#histre-highlight-wrap .histre-highlight-note-text {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 34px;
  border: 1px solid #d2ddec;
  padding: 2px 8px;
  border-radius: 6px;
  color: #12263f;
  font-family: 'Cerebri Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.75;
  overflow-wrap: break-word;
  background-color: #fff;
  outline: 2px solid transparent;
  outline-offset: -1px;
}

#histre-highlight-wrap .histre-highlight-note-input,
#histre-highlight-wrap .histre-highlight-note-input:focus {
  width: 100%;
  background-clip: padding-box;
  outline-color: #2c7be5;
  overflow: hidden;
  resize: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#histre-highlight-wrap .histre-highlight-note-input::placeholder {
  color: #95aac9;
  opacity: 1;
}

#histre-highlight-wrap .histre-highlight-note-input:disabled {
  cursor: not-allowed;
}

#histre-highlight-wrap .histre-highlight-note-text {
  cursor: pointer;
  outline-color: #d2ddec;
}

#histre-highlight-wrap .histre-highlight-note-input.histre-highlight-note-input--active,
#histre-highlight-wrap .histre-highlight-note-text.histre-highlight-note-text--active {
  display: block;
}

/***** Marks *****/

mark[class*='histre-highlight'] {
  cursor: pointer !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #0f0f0f !important;
}

mark.histre-highlight-color-yellow {
  background-color: var(--histre-color-yellow) !important;
}

mark.histre-highlight-color-twitter {
  background-color: var(--histre-color-yellow) !important;
}

mark.histre-highlight-color-orange {
  background-color: var(--histre-color-orange) !important;
}

mark.histre-highlight-color-green {
  background-color: var(--histre-color-green) !important;
}

mark.histre-highlight-color-blue {
  background-color: var(--histre-color-blue) !important;
}

mark.histre-highlight-color-red {
  background-color: var(--histre-color-red) !important;
}

mark.histre-highlight-color-purple {
  background-color: var(--histre-color-purple) !important;
}

mark[data-histre-highlight-note] {
  border: 1px dashed #5b87c5 !important;
  border-left: none !important;
  border-right: none !important;
}

mark[data-histre-highlight-note].histre-highlight-color-yellow {
  border-color: #d9d94a !important;
}

mark[data-histre-highlight-note].histre-highlight-color-orange {
  border-color: #f1a044 !important;
}

mark[data-histre-highlight-note].histre-highlight-color-green {
  border-color: #19bb3c !important;
}

mark[data-histre-highlight-note].histre-highlight-color-blue {
  border-color: #4897d5 !important;
}

mark[data-histre-highlight-note].histre-highlight-color-purple {
  border-color: #a76fe3 !important;
}

mark[data-histre-highlight-note].histre-highlight-color-red {
  border-color: #d1616c !important;
}
