.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  width: 1.9rem;
  position: relative;
  bottom: 3px;
}

.logo-hr {
  color: var(--bs-red);
  width: 4.3rem;
  margin-inline: auto;
}

section {
  max-width: 61ch;
  width: 100%;
}

.last-paragraph {
  margin-bottom: 1.6rem;
}
