#histre-inline-wrap,
#histre-inline-wrap * {
  display: initial !important;
  box-sizing: border-box !important;
  position: initial !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  width: initial !important;
  min-width: initial !important;
  max-width: initial !important;
  height: initial !important;
  min-height: initial !important;
  max-height: initial !important;
  letter-spacing: normal !important;
  line-height: normal !important;
  font-weight: unset !important;
  user-select: none !important;
}

#histre-inline-wrap::before,
#histre-inline-wrap::after,
#histre-inline-wrap *::before,
#histre-inline-wrap *::after {
  display: none !important;
}

#histre-inline-wrap {
  display: flex !important;
  align-items: center !important;
  position: fixed !important;
  left: calc(100vw - 133px);
  top: calc(100vh - 55px);
  box-sizing: border-box !important;
  border: 1px solid #e3ebf6 !important;
  border-radius: 4px !important;
  padding: 7px 11px 7px 7px !important;
  width: 223px !important;
  background-color: #f9fbfd !important;
  color: #6e84a3 !important;
  font-family: 'Cerebri Sans', sans-serif !important;
  font-size: 16px !important;
  line-height: initial !important;
  transform: translateX(-50%) !important;
  z-index: 11000 !important;
}

#histre-inline-wrap .histre-inline-popup {
  position: absolute !important;
  bottom: 37px !important;
  left: -1px !important;
  right: -1px !important;
  padding: 4px 6px 3px !important;
  border: 1px solid #e3ebf6 !important;
  border-radius: 4px !important;
  color: #283e59 !important;
  line-height: 1.4 !important;
  background-color: #f9fbfd !important;
  font-size: 14px !important;
}

#histre-inline-wrap .histre-inline-popup.histre-inline-hide {
  display: none !important;
}

#histre-inline-wrap .histre-inline-popup-link {
  color: #2c7be5 !important;
  cursor: pointer !important;
}

#histre-inline-wrap .histre-inline-popup-link:hover {
  color: #1657af !important;
}

#histre-inline-wrap .histre-inline-logo {
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  transition: color 150ms ease-in-out;
  margin-left: 5px !important;
}

#histre-inline-wrap .histre-inline-logo:hover {
  color: #3b506c !important;
}

#histre-inline-wrap .histre-inline-logo img {
  width: 16px !important;
  height: 16px !important;
}

#histre-inline-wrap .histre-inline-txt {
  margin-left: 4px !important;
}

#histre-inline-wrap .histre-inline-icon {
  background-color: #6e84a3 !important;
  width: 16px !important;
  height: 16px !important;
  cursor: pointer !important;
}

#histre-inline-wrap .histre-inline-icon:hover {
  background-color: #3b506c !important;
  transition: background-color 150ms ease-in-out;
}

#histre-inline-wrap .histre-inline-vote-icon {
  background-color: #6e84a3 !important;
  width: 16px !important;
  height: 16px !important;
  cursor: pointer !important;
}

#histre-inline-wrap .histre-inline-vote-icon:hover {
  background-color: #3b506c !important;
  transition: background-color 150ms ease-in-out !important;
}

#histre-inline-wrap .histre-inline-icon-save-privately {
  mask: url(assets/inline/note.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/note.svg) no-repeat 50% 50% !important;
  margin-left: 11px !important;
}

#histre-inline-wrap .histre-inline-icon-save-privately--saved {
  mask: url(assets/inline/note-filled.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/note-filled.svg) no-repeat 50% 50% !important;
}

#histre-inline-wrap .histre-inline-save-privately:hover {
  background-color: #3b506c !important;
}

#histre-inline-wrap .histre-inline-icon-publish {
  mask: url(assets/inline/globe.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/globe.svg) no-repeat 50% 50% !important;
  background-color: #6e84a3 !important;
  margin-left: 8px !important;
}

#histre-inline-wrap .histre-inline-icon-publish:hover {
  background-color: #3b506c !important;
}

#histre-inline-wrap .histre-inline-icon-publish--published {
  mask: url(assets/inline/globe-filled.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/globe-filled.svg) no-repeat 50% 50% !important;
}

#histre-inline-wrap .histre-inline-icon-read-later {
  mask: url(assets/inline/bookmark.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/bookmark.svg) no-repeat 50% 50% !important;
  background-color: #6e84a3 !important;
  margin-left: 8px !important;
}

#histre-inline-wrap .histre-inline-icon-read-later:hover {
  background-color: #3b506c !important;
}

#histre-inline-wrap .histre-inline-icon-read-later--saved {
  mask: url(assets/inline/bookmark-filled.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/bookmark-filled.svg) no-repeat 50% 50% !important;
}

#histre-inline-wrap .histre-inline-icon-settings {
  mask: url(assets/inline/settings.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/settings.svg) no-repeat 50% 50% !important;
  background-color: #95aac9 !important;
  margin-left: 7px !important;
}

#histre-inline-wrap .histre-inline-icon-settings:hover {
  background-color: #546a87 !important;
}

#histre-inline-wrap .histre-inline-icon-sidebar {
  mask: url(assets/inline/sidebar.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/sidebar.svg) no-repeat 50% 50% !important;
  background-color: #95aac9 !important;
  margin-left: 8px !important;
}

#histre-inline-wrap .histre-inline-icon-maximize:hover {
  background-color: #546a87 !important;
}

#histre-inline-wrap .histre-inline-icon-drag {
  mask: url(assets/inline/drag-indicator.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/inline/drag-indicator.svg) no-repeat 50% 50% !important;
  background-color: #95aac9 !important;
  cursor: move !important;
}

#histre-inline-wrap .histre-inline-icon-drag:hover {
  background-color: #95aac9 !important;
}

/* Set as a seperate class because it interferes with swithing between sidebar and inline */
#histre-inline-wrap.histre-inline-hide-on-yt {
  display: none !important;
}

#histre-inline-wrap.histre-inline-d-none {
  display: none !important;
}

@media print {
  #histre-inline-wrap {
    display: none !important;
  }
}
