.histre-outreach-wrap,
.histre-outreach-dropdown-menu {
  font-family: 'Cerebri Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #2f4664;
}

.histre-outreach-wrap {
  margin-top: 9px;
  display: flex;
  margin-left: 13px;
}

.histre-outreach-wrap--connect-message-modal {
  margin-left: 0;
  margin-top: -9px;
  margin-bottom: -4px;
}

.histre-outreach-wrap--sales-message-modal {
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 11px;
}

.histre-outreach-wrap--sales-message-popup {
  margin-top: 0;
}

.histre-outreach-logo-wrap {
  display: flex;
  align-items: center;
  margin-right: 7px;
  cursor: pointer;
}

.histre-outreach-logo {
  width: 22px;
}

.histre-outreach-cta-btn,
.histre-outreach-btn {
  padding: 2px 10px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #2c7be5;
}

.histre-outreach-btn {
  border-radius: 4px 0 0 4px;
}

.histre-outreach-dropdown-toggle {
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  align-items: center;
  border-radius: 0 4px 4px 0;
  border: 1px solid #2c7be5;
  border-left: none;
}

.histre-outreach-cta-btn:hover,
.histre-outreach-btn:hover,
.histre-outreach-dropdown-toggle:hover,
.histre-outreach-dropdown-toggle.histre-outreach-active {
  background-color: #2c7be5;
  color: #fff;
}

.histre-outreach-dropdown-icon {
  width: 14px;
  height: 14px;
  mask: url(assets/outreach/chevron-up.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/outreach/chevron-up.svg) no-repeat 50% 50% !important;
  background-color: currentColor;
}

.histre-outreach-edit {
  cursor: pointer;
  padding: 0 6px 1px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-left: 4px;
}

.histre-outreach-edit-icon {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  mask: url(assets/outreach/external-link.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/outreach/external-link.svg) no-repeat 50% 50% !important;
}

.histre-outreach-edit:hover .histre-outreach-edit-icon {
  background-color: #3b506c;
}

.histre-outreach-dropdown-menu {
  position: fixed;
  display: none;
  background-color: #fff;
  padding: 4px 0;
  border: 1px solid #d2ddec;
  border-radius: 5px;
  z-index: 100000;
}

.histre-outreach-dropdown-menu.histre-outreach-active {
  display: inline-block;
}

.histre-outreach-dropdown-item {
  padding: 4px 16px;
  cursor: pointer;
}

.histre-outreach-dropdown-item:hover {
  background-color: #c6daf2;
}
