/*
  Don't use rems because it might not look consistant across all sites
  e.g. If the site sets root font to 10px, so it uses rems like pixels,
  making UI look smaller in comparison to the rest of the site.
*/

/***** Reset *****/

#histre-sidebar-wrap.histre-sidebar-wrap,
#histre-sidebar-wrap * {
  font-family: inherit;
  box-sizing: border-box;
  position: initial;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  line-height: normal;
  width: initial;
  min-width: initial;
  max-width: initial;
  height: initial;
  min-height: initial;
  max-height: initial;
  color: inherit;
  font-size: inherit;
  box-shadow: none;
}

#histre-sidebar-wrap div {
  display: block;
}

#histre-sidebar-wrap span {
  display: inline-block;
}

#histre-sidebar-wrap a {
  text-decoration: none;
  font-weight: unset;
  color: #2c7be5;
  cursor: pointer;
}

#histre-sidebar-wrap a:hover {
  text-decoration: none;
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-btn-group::before,
#histre-sidebar-wrap .histre-sidebar-btn-group::after,
#histre-sidebar-wrap .histre-sidebar-btn-group *::before,
#histre-sidebar-wrap .histre-sidebar-btn-group *::after {
  display: none;
}

/***** Buttons *****/

#histre-sidebar-wrap .histre-sidebar-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #12263f;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

#histre-sidebar-wrap .histre-sidebar-btn-outline-primary {
  border-color: #2c7be5;
  color: #2c7be5;
}

#histre-sidebar-wrap .histre-sidebar-btn-outline-primary:hover,
#histre-sidebar-wrap .histre-sidebar-btn-outline-primary.histre-sidebar-active {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
}

#histre-sidebar-wrap .histre-sidebar-btn-outline-secondary {
  border-color: #d2ddec;
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-btn-outline-secondary:hover,
#histre-sidebar-wrap .histre-sidebar-btn-outline-secondary.histre-sidebar-active {
  background-color: #6e84a3;
  border-color: #6e84a3;
  color: #fff;
}

#histre-sidebar-wrap .histre-sidebar-btn-primary {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
}

#histre-sidebar-wrap .histre-sidebar-btn-primary:hover,
#histre-sidebar-wrap .histre-sidebar-btn-primary.histre-sidebar-active {
  background-color: #2569c3;
  border-color: #2362b7;
  color: #fff;
}

#histre-sidebar-wrap .histre-sidebar-btn-secondary {
  color: #ffffff;
  background-color: #6e84a3;
  border-color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-btn-secondary:hover,
#histre-sidebar-wrap .histre-sidebar-btn-secondary.histre-sidebar-active {
  color: #ffffff;
  background-color: #5e708b;
  border-color: #586a82;
}

#histre-sidebar-wrap .histre-sidebar-btn:disabled {
  opacity: 0.65;
  pointer-events: none;
}

#histre-sidebar-wrap .histre-sidebar-btn-link {
  color: #2c7be5;
}

.histre-sidebar-btn-link:hover {
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-btn-link--no-padding {
  padding: 0;
}

#histre-sidebar-wrap .histre-sidebar-btn-sm {
  border-radius: 4px;
  font-size: 13px;
  padding: 2px 8px;
  line-height: 1.75;
}

#histre-sidebar-wrap .histre-sidebar-btn-group {
  display: inline-flex;
  position: relative;
  height: 100%;
  vertical-align: middle;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn {
  flex: 1 1 auto;
  position: relative;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn:not(:first-child) {
  margin-left: -1px;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn:nth-child(n + 3),
#histre-sidebar-wrap
  .histre-sidebar-btn-group
  > :not(.histre-sidebar-btn-check)
  + .histre-sidebar-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#histre-sidebar-wrap
  .histre-sidebar-btn-group
  > .histre-sidebar-btn-check:checked
  + .histre-sidebar-btn,
#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn:hover {
  z-index: 1;
}

#histre-sidebar-wrap .histre-sidebar-btn-check {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  position: absolute;
}

#histre-sidebar-wrap .histre-sidebar-btn-check:checked + .histre-sidebar-btn-outline-secondary {
  background-color: #6e84a3;
  border-color: #6e84a3;
  color: #fff;
}

/***** Form control *****/

#histre-sidebar-wrap .histre-sidebar-form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #d2ddec;
  border-radius: 6px;
  color: #12263f;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

#histre-sidebar-wrap .histre-sidebar-form-control::placeholder {
  color: #b1c2d9;
  opacity: 1;
}

#histre-sidebar-wrap .histre-sidebar-form-control:focus {
  background-color: #fff;
  border-color: #2c7be5;
  box-shadow: none;
  color: #12263f;
  outline: 0;
}

#histre-sidebar-wrap .histre-sidebar-form-control-sm {
  border-radius: 4px;
  font-size: 13px;
  min-height: 30px;
  padding: 2px 8px;
  line-height: 1.75;
}

#histre-sidebar-wrap .histre-sidebar-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

#histre-sidebar-wrap .histre-sidebar-input-group > .histre-sidebar-form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  padding-right: 0;
}

#histre-sidebar-wrap .histre-sidebar-input-group > :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#histre-sidebar-wrap .histre-sidebar-input-group > :not(:first-child) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#histre-sidebar-wrap .histre-sidebar-input-group > :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#histre-sidebar-wrap .histre-sidebar-input-group .histre-sidebar-btn {
  position: relative;
  z-index: 2;
}

/***** Dropdown *****/

#histre-sidebar-wrap .histre-sidebar-dropdown-wrap {
  position: relative;
}

#histre-sidebar-wrap .histre-sidebar-dropdown-toggle-btn * {
  cursor: pointer;
}

#histre-sidebar-wrap
  .histre-sidebar-dropdown-toggle-btn
  > .histre-sidebar-dropdown-toggle-text
  + .histre-sidebar-dropdown-toggle-icon {
  margin-left: 7px;
}

#histre-sidebar-wrap .histre-sidebar-dropdown-toggle-icon {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 13px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-dropdown-toggle-icon--down {
  mask: url(assets/sidebar/chevron-down.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/sidebar/chevron-down.svg) no-repeat 50% 50%;
}

#histre-sidebar-wrap .histre-sidebar-dropdown-toggle-icon--up {
  mask: url(assets/sidebar/chevron-up.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/sidebar/chevron-up.svg) no-repeat 50% 50%;
}

#histre-sidebar-wrap .histre-sidebar-dropdown-list {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #e3ebf6;
  border-radius: 4px;
  color: #12263f;
  display: none;
  font-size: 14px;
  list-style: none;
  margin: 0;
  min-width: 130px;
  padding: 8px 0;
  position: absolute;
  text-align: left;
  z-index: 1000;
}

#histre-sidebar-wrap .histre-sidebar-dropdown-list-item {
  background-color: transparent;
  border: 0;
  clear: both;
  color: #6e84a3;
  display: block;
  font-weight: 400;
  padding: 6px 20px;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-dropdown-list-item:hover {
  background-color: transparent;
  color: #12263f;
}

/***** Scrollbar *****/

@supports (scrollbar-width: none) {
  /* Firefox */
  #histre-sidebar-wrap.histre-sidebar-wrap {
    scrollbar-width: none;
  }
}
@supports not (scrollbar-width: none) {
  /* Chrome */
  #histre-sidebar-wrap.histre-sidebar-wrap::-webkit-scrollbar {
    display: none;
  }
}

/***** Container *****/

#histre-sidebar-wrap.histre-sidebar-wrap {
  /* --histre-sidebar-width: 400px; */

  position: fixed;
  display: flex !important;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #12263f;
  font-size: 16px;
  font-family: 'Cerebri Sans', sans-serif;
  z-index: 1000000;
  overflow-y: auto;
}

/***** Body *****/

#histre-sidebar-wrap .histre-sidebar-body {
  background-color: #fff;
  border-radius: 6px;
  padding: 6px 5px;
  margin: 0 12px 15px;
  position: relative;
}

#histre-sidebar-wrap .histre-sidebar-main {
  margin-top: 10px;
}

/***** Note title *****/

#histre-sidebar-wrap .histre-sidebar-note-title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 16px;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-note-title-text {
  font-size: 16px;
  flex-grow: 0;
}

#histre-sidebar-wrap .histre-sidebar-note-title-input-group {
  width: 100%;
  margin-right: 12px;
}

#histre-sidebar-wrap .histre-sidebar-title-input-btns {
  position: relative;
  top: 1px;
}

/***** Access Levels *****/

#histre-sidebar-wrap .histre-sidebar-editor-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 29px;
  margin-bottom: 10px;
  align-items: center;
}

#histre-sidebar-wrap .histre-sidebar-access-levels {
  align-self: stretch;
}

#histre-sidebar-wrap .histre-sidebar-access-icon {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-access-icon--private {
  mask: url(assets/sidebar/access-lock.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/access-lock.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-access-icon--public {
  mask: url(assets/sidebar/access-globe.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/access-globe.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-access-icon--org {
  mask: url(assets/sidebar/access-briefcase.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/access-briefcase.svg) no-repeat 50% 50% !important;
}

/***** Editor *****/

#histre-sidebar-wrap .histre-sidebar-editor-wrap {
  position: relative;
  border: 1px solid #d2ddec;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out;
}

#histre-sidebar-wrap .histre-sidebar-editor-wrap:focus-within {
  border-color: #2c7be5;
}

#histre-sidebar-wrap #histre-sidebar-editor {
  position: relative;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor {
  background-clip: padding-box;
  background-color: #fff;
  color: #12263f;
  display: block;
  font-size: 15px;
  line-height: 1.5;
  padding: 8px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  white-space: pre-wrap;
  min-height: 115px;
  overflow: auto;
  max-height: calc(100vh - 435px);
  border: none !important;
  border-radius: 6px 6px 0 0;
}

@supports (scrollbar-width: thin) {
  #histre-sidebar-wrap #histre-sidebar-editor .ql-editor {
    scrollbar-width: thin;
    scrollbar-color: #b1c2d9 #fff;
  }
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor::-webkit-scrollbar-thumb {
  background-color: #b1c2d9;
  border: 2px solid transparent;
  border-radius: 6px;
  background-clip: padding-box;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor::-webkit-scrollbar {
  width: 12px;
  border: 1px solid #edf2f9;
  border-radius: 0 6px 6px 0;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h1 {
  font-size: 2em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h2 {
  font-size: 1.5em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h3 {
  font-size: 1.17em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h4 {
  font-size: 1em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h5 {
  font-size: 0.83em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h6 {
  font-size: 0.67em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor .ql-size-small {
  font-size: 0.75em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor .ql-size-large {
  font-size: 1.5em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor .ql-size-huge {
  font-size: 2.5em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor code {
  font-size: 85%;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor:focus {
  border-color: #2c7be5 !important;
  outline: none;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list-container {
  width: 270px;
  border: 1px solid #edf2f9;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
  overflow: auto;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-loading {
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list {
  list-style: none;
  overflow: hidden;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list-item.disabled {
  cursor: auto;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list-item.selected {
  background-color: #d2ddec;
  text-decoration: none;
}

#histre-sidebar-wrap #histre-sidebar-editor .mention {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: #d2ddec;
  padding: 3px 0;
  margin-right: 2px;
  user-select: all;
}

#histre-sidebar-wrap #histre-sidebar-editor .mention > span {
  margin: 0 3px;
}

#histre-sidebar-wrap .histre-sidebar-suggested-tags-wrap {
  border-top: 1px solid #e3ebf6;
  height: 33px;
  padding: 6px 10px;
  z-index: 100;
  font-size: 13px;
}

#histre-sidebar-wrap .histre-sidebar-suggested-tags {
  white-space: nowrap;
  overflow: hidden;
}

#histre-sidebar-wrap .histre-sidebar-suggested-tags-text {
  display: inline-block;
  padding-right: 8px;
  color: #b1c2d9;
}

#histre-sidebar-wrap .histre-sidebar-suggested-tag {
  margin-right: 8px;
  margin-bottom: 4px;
  color: #6e84a3;
  display: inline-block;
  cursor: pointer;
}

/***** Recent books *****/

#histre-sidebar-wrap .histre-sidebar-recent-books {
  display: none;
  margin-top: 14px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  min-height: 32px;
}

#histre-sidebar-wrap
  .histre-sidebar-recent-books-header:hover
  > .histre-sidebar-btn.histre-sidebar-btn-outline-secondary:not([data-histre-add-to-book-for]) {
  background-color: #6e84a3;
  border-color: #6e84a3;
  color: #fff;
}

#histre-sidebar-wrap
  .histre-sidebar-btn.histre-sidebar-btn-outline-secondary[data-histre-add-to-book-for]:hover
  ~ .histre-sidebar-btn.histre-sidebar-btn-outline-secondary:not([data-histre-add-to-book-for]) {
  background-color: transparent;
  border-color: #d2ddec;
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-toggle-text {
  margin-left: 9px;
  margin-right: auto;
  font-size: 14px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-toggle-text span {
  font-size: 12px;
  color: #95aac9;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-search-toggle {
  margin-right: 5px;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  margin: 5px 0;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon--show {
  mask: url(assets/sidebar/chevron-down.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/chevron-down.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon--hide {
  mask: url(assets/sidebar/chevron-up.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/chevron-up.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon--search {
  mask: url(assets/sidebar/search-books.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/search-books.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon--create {
  mask: url(assets/sidebar/plus.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/plus.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-body {
  margin-left: 10px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-search {
  margin-top: 10px;
  display: none;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-search-input {
  width: 90%;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-search-text {
  font-size: 12px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-books {
  margin-top: 10px;
  max-height: 153px;
  overflow-y: auto;
}

@supports (scrollbar-width: thin) {
  #histre-sidebar-wrap .histre-sidebar-recent-books-books {
    scrollbar-width: thin;
    scrollbar-color: #b1c2d9 #edf2f9;
  }
}

#histre-sidebar-wrap .histre-sidebar-recent-books-books::-webkit-scrollbar-thumb {
  background-color: #b1c2d9;
  border: 2px solid transparent;
  background-clip: padding-box;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-books::-webkit-scrollbar {
  width: 12px;
  border: 1px solid #edf2f9;
  background-color: #edf2f9;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-books--overflown {
  padding-right: 9px;
}

#histre-sidebar-wrap .histre-sidebar-book-wrap {
  margin-bottom: 9px;
}

#histre-sidebar-wrap .histre-sidebar-book-check-wrap {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content max-content;
  align-items: center;
  cursor: pointer;
  color: #95aac9;
  font-size: 15px;
}

#histre-sidebar-wrap .histre-sidebar-book-check-wrap--create {
  margin-top: 10px;
  cursor: default;
  display: none;
}

#histre-sidebar-wrap .histre-sidebar-book-icon {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--circle {
  mask: url(assets/sidebar/circle.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/circle.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--checked {
  mask: url(assets/sidebar/check-circle.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/check-circle.svg) no-repeat 50% 50% !important;
  background-color: #2c7be5;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--create-check {
  mask: url(assets/sidebar/book-create-check.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-create-check.svg) no-repeat 50% 50% !important;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--create-cancel {
  mask: url(assets/sidebar/book-create-x.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-create-x.svg) no-repeat 50% 50% !important;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-book-access {
  margin-left: 11px;
  margin-right: 5px;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--private {
  mask: url(assets/sidebar/book-lock.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-lock.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--limited {
  mask: url(assets/sidebar/book-users.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-users.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--org {
  mask: url(assets/sidebar/book-briefcase.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-briefcase.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--public {
  mask: url(assets/sidebar/book-globe.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-globe.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--copy {
  mask: url(assets/sidebar/clipboard.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/clipboard.svg) no-repeat 50% 50% !important;
  margin-right: 7px;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--copy-check {
  mask: url(assets/sidebar/copy-check.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/copy-check.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
  margin-right: 7px;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--view {
  mask: url(assets/sidebar/link.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/link.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-name {
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #12263f;
}

#histre-sidebar-wrap .histre-sidebar-book-info {
  margin-left: 46px;
  font-size: 12px;
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--chevrons {
  mask: url(assets/sidebar/chevrons-down.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/chevrons-down.svg) no-repeat 50% 50% !important;
  background-color: currentColor;
  margin-left: 3px;
}

/***** Extracted data *****/

#histre-sidebar-wrap .histre-sidebar-re-extract-data {
  display: none;
  gap: 2px;
  align-items: center;
  justify-content: center;
  color: #6e84a3;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  border-bottom: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: -10px;
}

#histre-sidebar-wrap .histre-sidebar-re-extract-data:hover {
  color: #283e59;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-table {
  display: table;
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row {
  display: table-row;
  vertical-align: middle;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row[data-histre-delete-row] {
  background-color: #e63757;
  color: #f9fbfd;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row-header {
  position: relative;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  display: table-cell;
  vertical-align: inherit;
  font-weight: normal;
  text-align: left;
  width: 46%; /* Set only on header, to keep it fixed */
}

#histre-sidebar-wrap
  .histre-sidebar-extracted-data-row-header[data-histre-table-field-error]::before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 1px solid #e63757;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row-value {
  display: table-cell;
  vertical-align: inherit;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  border-left: none;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-remove {
  display: table-cell;
  vertical-align: inherit;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  border-left: none;
  color: #6e84a3;
  cursor: pointer;
  width: 17px;
}

#histre-sidebar-wrap
  .histre-sidebar-extracted-data-row[data-histre-delete-row]
  .histre-sidebar-extracted-data-remove {
  color: #e3ebf6;
}

#histre-sidebar-wrap
  .histre-sidebar-extracted-data-row[data-histre-delete-row]
  .histre-sidebar-extracted-data-remove:hover {
  color: #f9fbfd;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-remove:hover {
  color: #3b506c;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-icon--x {
  mask: url(assets/sidebar/table-x.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/sidebar/table-x.svg) no-repeat 50% 50%;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-icon--plus {
  mask: url(assets/sidebar/table-plus.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/sidebar/table-plus.svg) no-repeat 50% 50%;
  position: relative;
  bottom: 1px;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-icon--refresh {
  mask: url(assets/sidebar/table-refresh.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/sidebar/table-refresh.svg) no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  position: relative;
  bottom: 1px;
  right: 2px;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-new {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  color: #6e84a3;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  border-top: none;
  margin-bottom: 10px;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-new:hover {
  color: #283e59;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-new[disabled] {
  color: #6e84a3;
  cursor: default;
}

#histre-sidebar-wrap
  .histre-sidebar-extracted-data-table:empty
  + .histre-sidebar-extracted-data-new {
  border-top: 1px solid #d2ddec;
}

/***** Ask AI Toggle *****/

#histre-sidebar-wrap .histre-sidebar-ask-ai-toggle-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

/***** Saving info container *****/

#histre-sidebar-wrap .histre-sidebar-saving-info-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-top: 15px;
}

/***** Vote UI *****/

#histre-sidebar-wrap .histre-sidebar-vote-ui {
  display: inline-flex;
  margin-right: 9px;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon:hover {
  background-color: #3b506c;
  transition: background-color 150ms ease-in-out;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--up {
  mask: url(assets/inline/thumbs-up.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/thumbs-up.svg) no-repeat 50% 50%;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--up-sel {
  mask: url(assets/inline/thumbs-up-filled.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/thumbs-up-filled.svg) no-repeat 50% 50%;
  background-color: #fd7e14;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--up-sel:hover {
  background-color: #fd7e14;
}

/***** Save privately *****/

#histre-sidebar-wrap .histre-sidebar-save-privately {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  cursor: pointer;
  mask: url(assets/inline/note.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/note.svg) no-repeat 50% 50%;
  background-color: #6e84a3;
  margin-right: 8px;
}

#histre-sidebar-wrap .histre-sidebar-save-privately:hover {
  background-color: #3b506c;
}

#histre-sidebar-wrap .histre-sidebar-save-privately--saved {
  mask: url(assets/inline/note-filled.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/note-filled.svg) no-repeat 50% 50%;
}

/***** Publish *****/

#histre-sidebar-wrap .histre-sidebar-publish {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  cursor: pointer;
  mask: url(assets/inline/globe.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/globe.svg) no-repeat 50% 50%;
  background-color: #6e84a3;
  margin-right: 9px;
}

#histre-sidebar-wrap .histre-sidebar-publish:hover {
  background-color: #3b506c;
}

#histre-sidebar-wrap .histre-sidebar-publish--published {
  mask: url(assets/inline/globe-filled.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/globe-filled.svg) no-repeat 50% 50%;
}

/***** Read later *****/

#histre-sidebar-wrap .histre-sidebar-read-later {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  cursor: pointer;
  mask: url(assets/inline/bookmark.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/bookmark.svg) no-repeat 50% 50%;
}

#histre-sidebar-wrap .histre-sidebar-read-later:hover {
  background-color: #3b506c;
  transition: background-color 150ms ease-in-out;
}

#histre-sidebar-wrap .histre-sidebar-read-later--saved {
  mask: url(assets/inline/bookmark-filled.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/bookmark-filled.svg) no-repeat 50% 50%;
}

#histre-sidebar-wrap .histre-sidebar-read-later[disabled] {
  background-color: #6e84a3;
  cursor: default;
}

/***** Control icons *****/

#histre-sidebar-wrap .histre-sidebar-control-icon {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

#histre-sidebar-wrap .histre-sidebar-control-icon:hover {
  background-color: #283e59;
}

#histre-sidebar-wrap .histre-sidebar-control-icon--settings {
  mask: url(assets/sidebar/settings.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/settings.svg) no-repeat 50% 50% !important;
  margin-left: 8px;
}

#histre-sidebar-wrap .histre-sidebar-control-icon--search {
  mask: url(assets/sidebar/search.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/search.svg) no-repeat 50% 50% !important;
  margin-left: 8px;
}

/***** Save info *****/

#histre-sidebar-wrap .histre-sidebar-spinner {
  position: absolute;
  left: 2px;
  top: 0;
  animation: histre-sidebar-spinner-border 0.75s linear infinite;
  border: 0.2em solid;
  border-radius: 50%;
  border-right: 0.25em solid transparent;
  display: none;
  height: 16px;
  vertical-align: -0.125em;
  width: 16px;
  color: #6e84a3;
}

@keyframes histre-sidebar-spinner-border {
  to {
    transform: rotate(360deg);
  }
}

#histre-sidebar-wrap .histre-sidebar-status {
  display: none;
  position: absolute;
  left: 2px;
  top: 0;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-status--checkmark {
  mask: url(assets/sidebar/checkmark.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/checkmark.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
}

#histre-sidebar-wrap .histre-sidebar-status--alert {
  mask: url(assets/sidebar/alert.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/alert.svg) no-repeat 50% 50% !important;
  background-color: #e63757;
}

/***** Status message *****/

#histre-sidebar-wrap .histre-sidebar-status-msg {
  display: none;
  margin-top: 16px;
}

#histre-sidebar-wrap .histre-sidebar-status-msg--error {
  color: #e63757;
}

#histre-sidebar-wrap .histre-sidebar-auth-histre-link {
  color: #2c7be5;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-auth-histre-link:hover {
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-auth-try-again {
  color: #2c7be5;
  cursor: pointer;
}

/***** Footer *****/

#histre-sidebar-wrap .histre-sidebar-footer {
  --histre-sidebar-footer-bottom-margin: 15px;
  position: sticky;
  bottom: var(--histre-sidebar-footer-bottom-margin);
  background-color: #fff;
  border-radius: 6px;
  padding: 1px 5px;
  margin: auto 12px var(--histre-sidebar-footer-bottom-margin);
  font-size: 11px;
  line-height: 1.4;
  color: #95aac9;
}

#histre-sidebar-wrap .histre-sidebar-mail-link {
  display: inline-block;
  color: #2c7be5;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-mail-link:hover {
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-auth-try-again:hover {
  color: #1657af;
}

/***** Youtube timestamp *****/

#histre-sidebar-wrap .histre-sidebar-yt-timestamp {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 1px solid #d2ddec;
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-yt-timestamp:hover {
  color: #283e59;
}

#histre-sidebar-wrap a[href^="https://www.youtube.com/watch?"]
{
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-yt-timeline-icon {
  background-color: currentColor;
  width: 15px;
  height: 15px;
  cursor: pointer;
  mask: url(assets/sidebar/yt-timeline.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/yt-timeline.svg) no-repeat 50% 50% !important;
}

/***** Ask AI *****/

#histre-sidebar-wrap .histre-sidebar-ask-ai-container {
  padding-top: 2px;
  padding-bottom: 2px;
  color: #95aac9;
  position: relative;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-tab-close {
  margin-bottom: 12px;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-prompt-list {
  flex-direction: column-reverse;
  max-width: 290px;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-prompt-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-prompt-list-item[data-histre-is-removed] {
  cursor: default;
  text-decoration: line-through;
  font-style: italic;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-prompt-list-item[data-histre-is-removed]:hover {
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-delete-prompt-btn {
  flex-shrink: 0;
  cursor: pointer;
  color: #95aac9;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: currentColor;
  mask: url(assets/ask-ai/trash.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/trash.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-delete-prompt-btn:hover {
  color: #e63757;
}

#histre-sidebar-wrap
  .histre-sidebar-ask-ai-prompt-list-item[data-histre-is-removed]
  .histre-sidebar-ask-ai-delete-prompt-btn {
  visibility: hidden;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-controls {
  display: flex;
  margin-top: 15px;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-controls > :first-child {
  margin-right: auto;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-controls > :last-child {
  margin-left: 9px;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-prompt-delete-error-msg {
  display: none;
  margin-top: 20px;
  color: #e63757;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-result {
  border: 1px solid #d2ddec;
  padding: 10px 17px;
  border-radius: 8px;
  color: #283e59;
  margin-top: 24px;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-result * {
  font-size: 15px;
  line-height: 1.5;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-result-controls {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-spinner {
  position: absolute;
  left: 0;
  top: 5px;
  animation: histre-sidebar-ask-ai-spinner-border 0.75s linear infinite;
  border: 0.2em solid;
  border-radius: 50%;
  border-right: 0.25em solid transparent;
  display: inline-block;
  height: 16px;
  vertical-align: -0.125em;
  width: 16px;
  color: #6e84a3;
}

@keyframes histre-sidebar-ask-ai-spinner-border {
  to {
    transform: rotate(360deg);
  }
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-status {
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-status--checkmark {
  mask: url(assets/ask-ai/checkmark.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/checkmark.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-status--alert {
  mask: url(assets/ask-ai/alert.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/alert.svg) no-repeat 50% 50% !important;
  background-color: #e63757;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-copy-result-btn {
  width: 28px;
  cursor: pointer;
  color: #95aac9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-copy-result-btn:hover {
  color: #3b506c;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-copy-result-icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: currentColor;
  mask: url(assets/ask-ai/clipboard.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/clipboard.svg) no-repeat 50% 50% !important;
  position: relative;
  bottom: 1px;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-copy-result-icon--check {
  mask: url(assets/ask-ai/copy-check.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/ask-ai/copy-check.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-error-msg {
  margin-top: 11px;
  color: #e63757;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-cta {
  color: #12263f;
}

#histre-sidebar-wrap .histre-sidebar-ask-ai-cta-text {
  margin-top: 6px;
  margin-bottom: 16px;
}

/***** Setup Error Msg *****/

#histre-sidebar-wrap .histre-sidebar-setup-error-msg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e63757;
}

/***** Loading UI *****/

#histre-sidebar-wrap .histre-sidebar-loading-ui {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#histre-sidebar-wrap .histre-sidebar-spinner--loading-ui {
  display: inline-block;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}

/***** Helper *****/

#histre-sidebar-wrap.histre-sidebar-d-none,
#histre-sidebar-wrap.histre-sidebar-hide,
#histre-sidebar-wrap .histre-sidebar-d-none,
#histre-sidebar-wrap .histre-sidebar-hide {
  display: none !important;
}

#histre-sidebar-wrap .histre-sidebar-truncate,
#histre-sidebar-wrap .histre-sidebar-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media print {
  #histre-sidebar-wrap {
    display: none !important;
  }
}

/***** Non prefix classes *****/

.hide {
  display: none !important;
}

.auth-error,
.permission-error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
